{% extends 'base.html' %}

{% block content %}

    <!-- Page breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
    </ol>

    <div class="panel panel-default">

        {% if usertype.registration_number %}
            <div class="panel-body">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th class="sn">S/N</th>
                                <th class="other-cell"> Examination Name</th>
                                <th class="other-cell"> Exam Date </th>
                                <th class="other-cell"> Duration </th>
                                <th class="other-cell"> Venue </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for examination in examinations %}
                                <tr class="firstRow">
                                    <td class="sn">{{ forloop.counter }}</td>
                                    <td class="other-cell">{{ examination.scheduled_exam.name }}</td>
                                    <td class="other-cell"> {{ examination.scheduled_exam.exam_date }} </td>
                                    <td class="other-cell">{{ examination.scheduled_exam.duration }}</td />
                                    <td class="other-cell">{{ examination.venue }}</td />
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% elif usertype.staff_id %}
            <div class="panel-body">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th class="sn">S/N</th>
                                <th class="other-cell"> Examination Name</th>
                                <th class="other-cell"> Exam Date </th>
                                <th class="other-cell"> Duration </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in staff_schedule %}
                                <tr class="firstRow">
                                    <td class="sn">{{ forloop.counter }}</td>
                                    <td class="other-cell">{{ schedule.exam.name }}</td>
                                    <td class="other-cell"> {{ schedule.exam.exam_date }} </td>
                                    <td class="other-cell">{{ schedule.exam.duration }}</td />
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="panel-body">
                <div>
                    Welcome to your dashboard
                </div>
            </div>
        {% endif %}
        <div class="panel-body">
         </div>
    </div>

   
</div>
{% endblock content %}