{% extends 'base.html' %}

{% block content %}

    <!-- Page breadcrumb -->
    <ol class="breadcrumb">
        <li><All Users </li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th class="sn">S/N</th>
                            <th class="other-cell"> Name</th>
                            <th class="other-cell"> Last Login </th>
                            <th class="other-cell"> User ID </th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for user in users %}
                            <tr class="firstRow">
                                <td class="sn">{{ forloop.counter }}</td>
                                <td class="other-cell">{{ user.first_name }}</td>
                                <td class="other-cell"> {{ user.last_login }} </td>
                                <td class="other-cell">{{ user.username }}</td />
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   
</div>
{% endblock content %}