{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <!-- Page breadcrumb -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Schedule Examination
        </div>
        <div class="panel-body">
            <form role="form" class="form-horizontal" id="login-form" method="post" enctype="multipart/form-data"> 
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label for="Users_email" class="col-sm-3 control-label">Add Venue</label>
                        <div class="col-sm-9">
                            <div class="col-md-5">
                                {% render_field form.name class="form-control" maxlength="255" name="Users[email]" id="Users_email"  %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Users_gm t" class="col-sm-3 control-label">Exam Date</label>
                        <div class="col-sm-9">
                            <div class="col-md-5">
                                {% render_field form.exam_date class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Users_email" class="col-sm-3 control-label">Duration</label>
                        <div class="col-sm-9">
                            <div class="col-md-5">
                                {% render_field form.duration class="form-control" maxlength="255" name="Users[email]" id="Users_email" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Users_email" class="col-sm-3 control-label">Students Record</label>
                        <div class="col-sm-9">
                            <div class="col-md-5">
                                {% render_field form.student_record class="form-control" maxlength="255" name="Users[email]" id="Users_email"%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Users_name_book" class="col-sm-3 control-label">
                            <button class="btn btn-primary" type="submit">Schedule Examination</button>
                        </label>
                    </div>    
                </fieldset>
            </form>
        </div><hr />
        <div class="panel-body">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th class="sn">S/N</th>
                            <th class="other-cell"> Examination Name</th>
                            <th class="other-cell"> Exam Date </th>
                            <th class="other-cell"> Duration </th>
                            <th class="other-cell"> View </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for examination in schedule_examination %}
                            <tr class="firstRow">
                                <td class="sn">{{ forloop.counter }}</td>
                                <td class="other-cell">{{ examination.name }}</td>
                                <td class="other-cell"> {{ examination.exam_date }} </td>
                                <td class="other-cell">{{ examination.duration }}</td />
                                <td class="other-cell"><a href="{% url 'detail_schedule_exam' examination.id %}">View</a></td />
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}