{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Exam Seat Allocation System</title>
    <!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/templatemo-softy-pinko.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">
                                {% if student %}
                                    <h2 class="fw-bold mb-2 text-uppercase">Student Login</h2>
                                    <p class="text-white-50 mb-5">Please enter your registration numbers and date of birth as your password in the format ddmmyyyy<br/>
                                    eg 22012021
                                    </p>                                
                                {% else %}
                                    <h2 class="fw-bold mb-2 text-uppercase">Staff Login</h2>
                                    <p class="text-white-50 mb-5">Please enter your staff identification and password!</p>
                                {% endif %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form method="post"> {% csrf_token %}
                                    <div class="form-outline form-white mb-4">
                                        {% if student %}
                                            {% render_field form.admin_id id="typeEmailX" placeholder="Registration Number" class="form-control form-control-lg" %}
                                        {% else %}
                                            {% render_field form.admin_id id="typeEmailX" placeholder="Staff ID" class="form-control form-control-lg" %}
                                        {% endif %}
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        {% render_field form.password type="password" id="typePasswordX" class="form-control form-control-lg" %}
                                        
                                    </div>


                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Footer Start ***** -->
    

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>

</body>

</html>